<div class="dropmenu">
    <ul>
            <li><a href="/category/TOP/1">상의</a>
                <ul>
                    <li><a href="/sub_category/0/1">반팔</a></li>
                    <li><a href="/sub_category/1/1">긴팔</a></li>
                </ul>
            </li>
        <li><a href="/category/BOTTOM/1">하의</a>
                <ul>
                        <li><a href="/sub_category/2/1">반바지</a></li>
                        <li><a href="/sub_category/3/1">긴바지</a></li>
                            <li><a href="/sub_category/4/1">치마</a></li>
                </ul>
        </li>
        <li><a href="/category/DRESS/1">원피스</a>
                <ul>
                        <li><a href="/sub_category/5/1">숏원피스</a></li>
                        <li><a href="/sub_category/6/1">롱원피스</a></li>
                </ul>   
        </li>
        <li><a href="/category/BAG&SOCKS/1">잡화류</a>
                <ul>
                        <li><a href="/sub_category/7/1">가방</a></li>
                        <li><a href="/sub_category/8/1">양말</a></li>
                </ul>
        </li>
        <li><a href="/category/ACC/1">악세사리</a>
                <ul>
                        <li><a href="/sub_category/9/1">목걸이</a></li>
                        <li><a href="/sub_category/10/1">귀걸이</a></li>
                        <li><a href="/sub_category/11/1">팔찌</a></li>
                </ul>
        </li>
    </ul>
</div>