<footer id="footer">
    <p>
        <a href="/use">[이용약관]</a>
        <a href="/privacy">[개인정보처리방침]</a>
        <br>

        [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
        Copyright 2021. 24팀 all rights reserved.<br>
    </p>
</footer>