<nav class="nav">
    <ul class="menu">
        <li><a href="/admin" class="active" class="current">Home</a></li>
            <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
            <li><a href="/product_list_admin">Product 관리</a></li>
            <li><a href="/product_information_admin">Sales Information(구현중)</a></li>
            <li><a href="/views/inquiry_admin.html">고객 문의 관리</a></li>
            <li><a href="/logout">Logout</a></li>
    </ul>
</nav>