<!DOCTYPE html>
<html>
    <head>
        <title>add_product_admin</title>
        <link rel="stylesheet" href="/public/add_product_admin.css" type="text/css">
        <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
        <script src="/router/add_product_admin.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/views/mainPage_admin.html" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/views/bucket.html">장바구니</a>
                    </button>
                </div>
            </div>
        </header>
        <nav id="category">
            <a class="category-menu" href="/views/product_list_admin.html">상의</a>
            <a class="category-menu" href="/views/product_list_admin.html">하의</a>
            <a class="category-menu" href="/views/product_list_admin.html">원피스</a>
            <a class="category-menu" href="/views/product_list_admin.html">잡화류</a>
            <a class="category-menu" href="/views/product_list_admin.html">악세서리</a>
        </nav>


        <nav class="nav">
            <ul class="menu">
                <li><a href="/views/mainPage_admin.html" class="active">Home</a></li>
                <li><a href="/views/banner_list_admin.html">Notice/Event 관리</a></li>
                <li><a href="/views/product_list_admin.html" class="current">Product 관리</a></li>
                <li><a href="/views/mainPage.html">Logout</a></li>
            </ul>
        </nav>
        <section>
            <h2>New Product</h2>
            <form action="#" method="POST" enctype="multipart/form-data">
                <div>
                    <table>
                        <tr><td>상품 코드</td><td><input type="text" id="pcode" size=6></td></tr>
                        <tr><td>상품 이름</td><td><input type="text" id="pname" maxsize=20></td></tr>
                        <tr><td>상품 사진</td><td><input type="file" id="pimg" accept="image/*"></td></tr>
                        <tr><td>카테고리</td><td>
                            <select name="main_category" id="main_category">
                                <option value="">전체</option>
                            </select>
                            <select name="sub_category" id="sub_category">
                                <option value="">전체</option>                                
                            </select>
                        </td></tr>                        
                        <tr><td>상품 가격</td><td><input type="text" id="pprice"></td></tr>
                        <tr><td>상품 수량</td><td><input type="number" id="pcnt" pattern="\d*"></td></tr>
                        <tr><td>상품 설명</td><td><textarea id="pexplain" rows="5" cols="30"></textarea></td></tr>
                        <tr><td>등록 날짜</td><td><input type="date" id="pregdate"></td></tr>
                        <tr><td colspan="2"><a class="btn" href="/views/add_product_admin.html" onclick="check()">등록하기</a></td></tr>
                    </table>
                </div>
                
            </form>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>