<!DOCTYPE html>
<html>
    <head>
        <title>add_banner_admin</title>
        <link rel="stylesheet" href="/add_banner_admin.css" type="text/css">
        <script src="/add_banner_admin.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <% if(is_logined == true){ %>
                        <a><%= name %> 관리자</a>
                        <button id="logout">
                            <a href="/logout">logout</a>
                        </button>
                        <button id="bucket">
                            <a id="goto-bucket" href="/basket">장바구니</a>
                        </button>
                    <% } %>
                </div>
            </div>
        </header>



        <nav class="nav">
            <ul>
                <li><a href="/admin" class="active">Home</a></li>
                <li><a href="/banner_list_admin" class="current">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information(구현중)</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <section>
            <h2>New Notice/Event</h2>
            <form action= "/create_banner" method="POST">
                <div>
                    <table>
                        <tr><td>제목</td><td><input type = "text" name = "nTitle"></td></tr>
                        <tr><td>종류</td>
                            <td><input type="radio" name="nCat" value="notice">공지사항
                                <input type="radio" name="nCat" value="event">이벤트</td></tr>
                        <tr><td>공지/이벤트 이미지</td><td><input type="file" name ="nImg" accept="image/*"></td></tr>
                        <tr><td>기타 설명</td><td><input type = "text" name ="nDetail" rows="5" cols="30"></td></tr>
                        <tr><td>기간</td><td><input type = "date" name ="nStartDate" pattern="\d*">
                                             <input type = "date" name ="nEndDate" pattern="\d*"></td>
                        </tr>
                    </table>
                </div>
                <button type = "submit"> submit </button>    
            </form>
        </section>
        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>
    
                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
    </body>
</html>