<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="/banner_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/admin" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <% if(is_logined == true){ %>
                        <a><%= name %> 관리자</a>
                        <button id="logout">
                            <a href="/logout">logout</a>
                        </button>
                        <button id="bucket">
                            <a id="goto-bucket" href="/basket">장바구니</a>
                        </button>
                    <% } %>
                </div>
            </div>
        </header>



        <nav class="nav">
            <ul>
                <li><a href="/admin" class="active">Home</a></li>
                <li><a href="/banner_list_admin" class="current">Notice/Event 관리</a></li>
                <li><a href="/product_list_admin/1">Product 관리</a></li>
                <li><a href="/product_information_admin">Sales Information(구현중)</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        
        <section>
            <h2>Notice/Event</h2>
            <div class="notice_list_div">
                <table class="notice_list">
                    <caption><a href="/add_banner_admin">공지 등록</a></caption>
                    <colgroup>
                    <col width="15">
                    <col width="80">
                    <col width="15">
                    <col width="20">
                    <col width="15">
                    </colgroup>
                    <thead>
                        <th>번호</th>
                        <th>제목</th>
                        <th>조회수</th>
                        <th>등록일</th>
                        <th>작성자</th>
                    </thead>
                    <!--상품 정보 들어갈 공간 list 개수만큼 tr-->
                    <tbody>
                        <tr>
                            <td class="num">1</td>
                            <td class="title">
                                <a href="/banner_detail_admin">공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">123</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">작성자</td>
                        </tr>
                        <tr>
                            <td class="num">1234</td>
                            <td class="title">
                                <a href="/banner_detail_admin">공지 제목이 들어가는 곳 공지 제목이 들어가는 곳 공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">123</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">seoultech</td>
                        </tr>
                        <tr>
                            <td class="num">123456</td>
                            <td class="title">
                                <a href="/banner_detail_admin">공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">12356</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">쿠팡</td>
                        </tr>

                    </tbody>
    
                </table>
            </div>
            <div class="outer">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>