<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="/public/banner_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/views/mainPage_admin.html" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/views/bucket.html">장바구니</a>
                    </button>
                </div>
            </div>
        </header>
        <nav id="category">
            <a class="category-menu" href="/views/product_list_admin.html">상의</a>
            <a class="category-menu" href="/views/product_list_admin.html">하의</a>
            <a class="category-menu" href="/views/product_list_admin.html">원피스</a>
            <a class="category-menu" href="/views/product_list_admin.html">잡화류</a>
            <a class="category-menu" href="/views/product_list_admin.html">악세서리</a>
        </nav>



        <nav class="nav">
            <ul>
                <li><a href="/views/mainPage_admin.html" class="active">Home</a></li>
                <li><a href="/views/banner_list_admin.html" class="current">Notice/Event 관리</a></li>
                <li><a href="/views/product_list_admin.html">Product 관리</a></li>
                <li><a href="/views/mainPage.html">Logout</a></li>
            </ul>
        </nav>
        
        <section>
            <h2>Notice/Event</h2>
            <div class="notice_list_div">
                <table class="notice_list">
                    <caption><a href="/views/add_banner_admin.html">공지 등록</a></caption>
                    <colgroup>
                    <col width="15">
                    <col width="80">
                    <col width="15">
                    <col width="20">
                    <col width="15">
                    </colgroup>
                    <thead>
                        <th>번호</th>
                        <th>제목</th>
                        <th>조회수</th>
                        <th>등록일</th>
                        <th>작성자</th>
                    </thead>
                    <!--상품 정보 들어갈 공간 list 개수만큼 tr-->
                    <tbody>
                        <tr>
                            <td class="num">1</td>
                            <td class="title">
                                <a href="/views/banner_detail_admin.html">공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">123</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">작성자</td>
                        </tr>
                        <tr>
                            <td class="num">1234</td>
                            <td class="title">
                                <a href="/views/banner_detail_admin.html">공지 제목이 들어가는 곳 공지 제목이 들어가는 곳 공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">123</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">seoultech</td>
                        </tr>
                        <tr>
                            <td class="num">123456</td>
                            <td class="title">
                                <a href="/views/banner_detail_admin.html">공지 제목이 들어가는 곳</a>
                            </td>
                            <td class="hit">12356</td>
                            <td class="date">2021/05/06</td>
                            <td class="name">쿠팡</td>
                        </tr>

                    </tbody>
    
                </table>
            </div>
            <div class="outer">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>