<!DOCTYPE html>
<html>
    <head>
        <title>banner_admin</title>
        <link rel="stylesheet" href="../public/banner_detail_admin.css" type="text/css">
        <script src="../router/banner_detail_admin.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="./mainPage_admin.html" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <button id="login">
                        <a href="signUp.html">로그인</a>
                    </button>
                    <button id="signup-btn">
                        <a id="goto-signup" href="signUp.html">회원가입</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="bucket.html">장바구니</a>
                    </button>
                </div>
            </div>
        </header>
        <nav id="category">
            <a class="category-menu" href="./product_list_admin.html">상의</a>
            <a class="category-menu" href="./product_list_admin.html">하의</a>
            <a class="category-menu" href="./product_list_admin.html">원피스</a>
            <a class="category-menu" href="./product_list_admin.html">잡화류</a>
            <a class="category-menu" href="./product_list_admin.html">악세서리</a>
        </nav>


        <nav class="nav">
            <ul>
                <li><a href="./mainPage_admin.html" class="active">Home</a></li>
                <li><a href="./banner_list_admin.html" class="current">Notice/Event 관리</a></li>
                <li><a href="./product_list_admin.html">Product 관리</a></li>
                <li><a href="./mainPage.html">Logout</a></li>
            </ul>
        </nav>
        
        <section>
            <h2>Notice/Event</h2>
            <h3>상세보기</h3>
            <div>
                <table class="banner_detail">
                    <!--<colgroup>
                    <col width="15">
                    <col width="80">
                    <col width="15">
                    <col width="20">
                    <col width="15">
                    </colgroup>-->
                    <thead>
                        <tr>
                            <th>제목</th><td colspan="5" class="title">공지 제목이 들어가는 곳</td>
                        </tr>
                        <tr>
                            <th>작성자</th><td class="name">seoultech</td>
                            <th>조회수</th><td class="hit">123</td>
                            <th>등록일</th><td class="date">2021/05/06</td>
                        </tr>

                    </thead>
                    <!--상품 정보 들어갈 공간 list 개수만큼 tr-->
                    <tbody>
                        <tr>
                            <td class="banner_image" colspan="6"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_01_list.jpg" alt="배너 이미지"></td>
                        </tr>
                        <tr class="blank"><td></td></tr>
                        <tr class="btn"><td></td><td></td>
                            <td class="modify"><a href="add_banner_admin.html">수정</a></td>
                            <td class="delete"><a href="javascript:void(0);" onclick="delete_check()">삭제</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>