<!DOCTYPE html>
<html lang="kr">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 등록/관리</title>
    <link rel="stylesheet" href="/mainPage_admin.css">
    <link rel="stylesheet" href="/mainPage.css">
    <link rel="stylesheet" href="/coupon_list.css">
    <script type="text/javascript" src="/mainPage.js"></script>
    <script defer type="text/javascript" src="/main_banner.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/coupon_add.js"></script>

</head>
<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <div id ="search-form">
                <form action="/search" method="get" class="category">
                     <select name = "category">
                         <option value="all"> 전체</option>
                         <option value="top"> 상의</option>
                         <option value="bottom"> 하의</option>
                         <option value="dress"> 원피스</option>
                         <option value="goods"> 잡화류</option>
                         <option value="acc"> 악세서리</option>
                     </select>
                     <input type ="text" class = "search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
                     <input type="int" class = "search-bar" name="sprice" placeholder="시작가격"> ~ <input type ="int" class ="search-bar" name="eprice" placeholder="끝가격">
                     <input type = "submit" value ="확인" class = "sort-button">
                 </form>
             </div>
            <div class="wrap-user-util">
                <% if(is_logined == true){ %>
                <a><%= name %> 관리자</a>
                <button id="logout">
                    <a href="/logout">logout</a>
                </button>
                <button id="bucket">
                    <a id="goto-bucket" href="/basket">장바구니</a>
                </button>
                <% } %>
            </div>
        </div>
    </header>

    <nav class="nav">
        <ul>
            <li><a href="/admin" class="active">Home</a></li>
            <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
            <li><a href="/product_list_admin">Product 관리</a></li>
            <li><a href="/product_information_admin">Sales Information</a></li>
            <li><a href="/inquiry_admin">고객 문의 관리</a></li>
            <li><a href="/coupon_list_admin" class="current">Coupon 등록/관리</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="selectBox">

        <h2 class="text-center">쿠폰 등록</h2>

        <form action="/coupon_add_admin_in" method="post">

        <table class="coupon_list">
            <tbody>
                <tr>
                    <th>쿠폰명</th>
                    <td><input type="text" name="cpName"></td>
                </tr>
                <tr>
                    <th>쿠폰종류</th>
                    <td>
                        <!-- <select name="coupon_name" required="required" class="form-control">
                            <option value="2" selected>---------</option>
                            <option value ="0">금액할인</option>
                            <option value ="1">카테고리 할인</option>
                        </select> -->

                        <label><input type="radio" name="cpType" class="radio-value" value="1"> 금액할인</label>
                        <label><input type="radio" name="cpType" class="radio-value" value="0">지정카테고리 할인</label>
                    </td>
                </tr>
                <tr>
                    <th>최소주문금액<br><small class="text-muted">X원  이상 구매</small></th>
                    <td><input type="int" name="cpMiniPrice" class="form-control" min="0"></td>
                </tr>
                <tr>
                    <th>금액할인(원)<br><small class="text-muted">X원  이상 구매 시 Y원 할인</small></th>
                    <td><input type="int" name="cpPriceSale" class="form-control" id="cdiscash" min="0"></td>
                </tr>
                <tr>
                    <th>카테고리지정</th>
                    <td>
                        <select name = "cpCategory" class="radio-value-detail">
                            <option value="" selected disabled hidden> 선택</option>
                            <option value="TOP"> 상의</option>
                            <option value="BOTTOM"> 하의</option>
                            <option value="DRESS"> 원피스</option>
                            <option value="BAG&SOCKS"> 잡화류</option>
                            <option value="ACC"> 악세서리</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>카테고리할인률(%)<br><small class="text-muted">특정 카테고리 %할인 쿠폰</small></th>
                    <td><input type="int" name="cpCategorySale" class="form-control" id="cdisper" min="0" max="100"></td>
                </tr>

                <tr>
                    <th>카테고리할인 한도(원)</th>
                    <td> <input type ="int" class ="form-control" name="cpCategoryMax" min="0" ></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="쿠폰 등록" class="btn"></td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>

        <footer id="footer">
            <p>
                <a href="/use">[이용약관]</a>
                <a href="/privacy">[개인정보처리방침]</a>
                <br>

                [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨 터공학과 미래관 315호 TEL : 02-970-6707 <br>
                Copyright 2021. 24팀 all rights reserved.<br>
            </p>
        </footer>
</body>

</html>