<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/payment.css">
    <script type="text/javascript" src="/router/payment.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/views/mainPage.html" title="로고">로고</a>
            </h1>
        </div>
    </header>
    <div class="container">
        <h1>주문하기</h1>
        <div class="order-product">
            <h2>주문 상품</h2>
            <ul id="order-list">
                <li class="order-product-item-info">
                    <div class="orderSubject">제목</div>
                    <div class="orderQuantity">수량</div>
                    <div class="orderPrice">가격</div>
                </li>
                <li class="order-product-item-info">
                    <div class="orderSubject">제목</div>
                    <div class="orderQuantity">수량</div>
                    <div class="orderPrice">가격</div>
                </li>
            </ul>
        </div>

        <div class="address-info">
            <h2>배송 정보</h2>
            <div class="orderer-info">
                <h3>주문자 정보</h3>
                <dl>
                    <dt>주문자</dt>
                    <dd>이정현</dd>
                    <dt>이메일</dt>
                    <dd>seoultech.ac.kr</dd>
                    <dt>연락처</dt>
                    <dd>012-345-6789</dd>
                </dl>
            </div>
            <div class="address-select-wrap">
                <h3>배송지</h3>
                <div class="confirm-address">
                    <p>이정현</p>
                    <p>01234</p>
                    <p>서울특별시 노원구 서울과학기술대학교 미래관 101호</p>
                    <p>012-345-6789</p>
                </div>
            </div>
        </div>
        <div class="pay">
            <h2>결제하기</h2>
            <button class="pay-btn" onclick="requestPay()">
                <a href="#">결제하기</a>
            </button>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright 2021. 24팀 all rights reserved.</p>
    </footer>
</body>
</html>