<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>product_information_admin</title>
    <link rel="stylesheet" href="/product_information_admin.css">
    <script type="text/javascript" src="/product_information_admin.js"></script>
</head>

<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <form id="search-form" method="GET">
                <input id="search" type="search" placeholder="검색">
                <button id="search-btn" class="search">
                    <a href="#"><img class="search-img"
                            src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                </button>
            </form>
            <div class="wrap-user-util">
                <% if(is_logined==true){ %>
                    <a>
                        <%= name %> 관리자
                    </a>
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/basket">장바구니</a>
                    </button>
                    <% } %>
            </div>
        </div>
    </header>



    <nav class="nav">
        <ul class="menu">
            <li><a href="/admin" class="active">Home</a></li>
            <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
            <li><a href="/product_list_admin/1">Product 관리</a></li>
            <li><a href="/product_information_admin" class="current">Sales Information(구현중)</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section>
        <section id="sales_statistics">
            <div>

                <table id="search_sales_statistics">
                    <thead>
                        <tr>
                            <th>검색 기간</th>
                            <td colspan="5">
                                <input type="date" id="search_start">
                                ~
                                <input type="date" id="search_end">
                            </td>
                            <td>
                                <button id="search-btn" class="search" onclick="search_period_check()">
                                    <a href="#"><img class="search-img"
                                            src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png"
                                            alt="검색"></a>
                                </button>
                            </td>
                        </tr>
                        <tr class="table_space">
                            <td></td>
                        </tr>

                        <!--판매 순위 개수로 할 건지 금액으로 할 건지 결정 필요!-->

                        <th>총 판매금액</th>
                        <th colspan="3">판매 순위 Top3(Category)</th>
                        <th colspan="3">판매 순위 Top3(Product)</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="4">123,456,789원</td>
                        </tr>
                        <tr>
                            <td>상의</td>
                            <td>789개</td>
                            <td>87,654,321원</td>
                            <td>프릴 블라우스</td>
                            <td>300개</td>
                            <td>37,654,321원</td>
                        </tr>
                        <tr>
                            <td>악세서리</td>
                            <td>80개</td>
                            <td>7,654,321원</td>
                            <td>검정 무지 티셔츠</td>
                            <td>200개</td>
                            <td>1,000,000원</td>

                        </tr>
                        <tr>
                            <td>원피스</td>
                            <td>5개</td>
                            <td>54,321원</td>
                            <td>미키마우스 후드티</td>
                            <td>130개</td>
                            <td>15,000,000원</td>
                        </tr>
                    </tbody>

                </table>
                <!--
            </div>

        </section>

        <section id="check_order">
        -->
                <table id="check_order">
                    <tbody id="check_order">
                        <!--
                        <tr class="table_space">
                            <td></td>
                        </tr>
                    -->
                        <tr>
                            <td class="sales_date">21-04-15</td>
                            <td class="sales_product">미키마우스 후드티</td>
                            <td class="sales_processing_phase">결제완료</td>
                            <td class="sales_count">2개</td>
                            <td class="sales_price">80,000원</td>
                            <td class="sales_processing_btn"><button>배송하기</button></td>
                        </tr>
                        <tr>
                            <td class="sales_date">21-04-14</td>
                            <td class="sales_product">프릴 블라우스</td>
                            <td class="sales_processing_phase">배송중</td>
                            <td class="sales_count">1개</td>
                            <td class="sales_price">36,000원</td>
                            <td class="sales_processing_btn"><button>배송완료</button></td>
                        </tr>
                        <tr>
                            <td class="sales_date">21-04-14</td>
                            <td class="sales_product">검정 무지 티셔츠</td>
                            <td class="sales_processing_phase">배송완료</td>
                            <td class="sales_count">3개</td>
                            <td class="sales_price">10,000원</td>
                            <td class="sales_processing_btn"><button>상품평</button></td>
                        </tr>

                        <tr>
                            <td class="sales_date">21-04-13</td>
                            <td class="sales_product">미키마우스 후드티</td>
                            <td class="sales_processing_phase">구매확정</td>
                            <td class="sales_count">1개</td>
                            <td class="sales_price">40,000원</td>
                            <td class="sales_processing_btn"><button>상품평</button></td>
                        </tr>
                    </tbody>

                </table>
                <div class="outer">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
        </section>
    </section>


    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. 24팀 all rights reserved.<br>
        </p>
    </footer>
</body>

</html>