<!DOCTYPE html>
<html>
    <head>
        <title>product_list_admin</title>
        <link rel="stylesheet" href="/public/product_list_admin.css" type="text/css">
    </head>
    <body>
        <header id="header">
            <div id="head-wrapper">
                <h1>
                    <a id="logo" href="/views/mainPage_admin.html" title="로고">로고</a>
                </h1>
                <form id="search-form" method="GET">
                    <input id="search" type="search" placeholder="검색">
                    <button id="search-btn" class="search">
                        <a href="#"><img class="search-img" src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png" alt="검색"></a>
                    </button>
                </form>
                <div class="wrap-user-util">
                    <button id="login">
                        <a href="/views/signUp.html">로그인</a>
                    </button>
                    <button id="signup-btn">
                        <a id="goto-signup" href="/views/signUp.html">회원가입</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/views/bucket.html">장바구니</a>
                    </button>
                </div>
            </div>
        </header>
        <nav id="category">
            <a class="category-menu" href="/views/product_list_admin.html">상의</a>
            <a class="category-menu" href="/views/product_list_admin.html">하의</a>
            <a class="category-menu" href="/views/product_list_admin.html">원피스</a>
            <a class="category-menu" href="/views/product_list_admin.html">잡화류</a>
            <a class="category-menu" href="/views/product_list_admin.html">악세서리</a>
        </nav>



        <nav class="nav">
            <ul class="menu">
                <li><a href="/views/mainPage_admin.html" class="active">Home</a></li>
                <li><a href="/views/banner_list_admin.html">Notice/Event 관리</a></li>
                <li><a href="/views/product_list_admin.html" class="current">Product 관리</a></li>
                <li><a href="/views/mainPage.html">Logout</a></li>
            </ul>
        </nav>
        <div class="btn">
            <a href="/views/add_product_admin.html">상품 등록</a>
        </div>
        <section>
            <h2>Product list</h2>
            
            <div class="list">
                <ul class="row">
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_01_list.jpg" alt=""><!--상품사진--></div>
                        <div class="product_name">상품명</div>
                        <div class="product_price">상품가격</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_02_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_03_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_04_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_05_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_06_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_07_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_08_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_09_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_10_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_11_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_12_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_13_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_14_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_15_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_16_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_17_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img_box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_18_list.jpg" alt=""></div>
                        <div class="product_name">단가라 ops</div>
                        <div class="product_price">19800</div>
                    </li>
                    <!--상품 수만큼 li 반복-->
                </ul>
            </div>
            <div class="outer">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
            
        </section>
        
        <footer id="footer">
            <p>Copyright 2021. 24팀 all rights reserved.</p>
        </footer>
    </body>
</html>