<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>product_information_admin</title>
    <link rel="stylesheet" href="/product_information_admin.css" type="text/css">
    <script type="text/javascript" src="/product_information_admin.js"></script>
</head>

<body>
    <header id="header">
        <div id="head-wrapper">
            <h1>
                <a id="logo" href="/admin" title="로고">로고</a>
            </h1>
            <div id="search-form">
                <form action="/search" method="get" class="category">
                    <select name="category">
                        <option value="all"> 전체</option>
                        <option value="top"> 상의</option>
                        <option value="bottom"> 하의</option>
                        <option value="dress"> 원피스</option>
                        <option value="goods"> 잡화류</option>
                        <option value="acc"> 악세서리</option>
                    </select>
                    <input type="text" class="search-bar" name="query" placeholder="검색어를 입력하세요"> </br>
                    <input type="int" class="search-bar" name="sprice" placeholder="시작가격"> ~ <input type="int"
                        class="search-bar" name="eprice" placeholder="끝가격">
                    <input type="submit" value="확인" class="sort-button">
                </form>
            </div>
            <div class="wrap-user-util">
                <% if(is_logined==true){ %>
                    <a>
                        <%= name %> 관리자
                    </a>
                    <button id="logout">
                        <a href="/logout">logout</a>
                    </button>
                    <button id="bucket">
                        <a id="goto-bucket" href="/basket">장바구니</a>
                    </button>
                    <% } %>
            </div>
        </div>
    </header>



    <nav class="nav">
        <ul class="menu">
            <li><a href="/admin" class="active">Home</a></li>
            <li><a href="/banner_list_admin">Notice/Event 관리</a></li>
            <li><a href="/product_list_admin">Product 관리</a></li>
            <li><a href="/product_information_admin" class="current">Sales Information</a></li>
            <li><a href="/inquiry_admin">고객 문의 관리</a></li>
            <li><a href="/coupon_list_admin" class="current">Coupon 등록/관리</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <section id="sales_statistics">
        <form method="POST" name="sales_list">

            <table id="search_sales_statistics">
                <caption class="table_period">
                    <a href="#">오늘</a>
                    <a href="#">최근 일주일</a>
                    <a href="#">1개월</a>
                    <a href="#">1년</a>
                </caption>
                <thead>
                    <tr>
                        <th class="table_left">검색 기간</th>
                        <td colspan="5">
                            <input type="date" id="search_start">
                            ~
                            <input type="date" id="search_end">
                        </td>
                        <td>
                            <button id="search-btn" class="search" onclick="search_period_check()">
                                <a href="#"><img class="search-img"
                                        src="https://cdn.icon-icons.com/icons2/2091/PNG/512/search_icon_128536.png"
                                        alt="검색"></a>
                            </button>
                        </td>
                    </tr>

                    <tr class="table_space">
                        <td></td>
                    </tr>

                    <!--판매 순위 판매 개수로 매기기로 결정!-->

                    <th class="table_left_up">총 판매금액</th>
                    <th colspan="3">판매 순위 Top3(Category)</th>
                    <th colspan="3" class="table_right_up">판매 순위 Top3(Product)</th>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">123,456,789원</td>
                    </tr>
                    <tr>
                        <td>상의</td>
                        <td>789개</td>
                        <td>87,654,321원</td>
                        <td>프릴 블라우스</td>
                        <td>300개</td>
                        <td>37,654,321원</td>
                    </tr>
                    <tr>
                        <td>악세서리</td>
                        <td>80개</td>
                        <td>7,654,321원</td>
                        <td>검정 무지 티셔츠</td>
                        <td>200개</td>
                        <td>1,000,000원</td>
                    </tr>
                    <tr>
                        <td>원피스</td>
                        <td>5개</td>
                        <td>54,321원</td>
                        <td>미키마우스 후드티</td>
                        <td>130개</td>
                        <td>15,000,000원</td>
                    </tr>
                </tbody>
            </table>

            <table id="check_order">
                <thead>
                    <tr>
                        <th class="table_left_up">판매일자</th>
                        <th>상품이름</th>
                        <th>현재상태</th>
                        <th>판매금액</th>
                        <th class="table_right_up">상태변경</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="check_order">
                        <td class="sales_date" onclick='location.href="/sales_detail_info_admin"' ;>21-04-15</td>
                        <td class="sales_product" onclick='location.href="/sales_detail_info_admin"' ;>미키마우스 후드티 외 1종
                        </td>
                        <td class="sales_processing_phase" onclick='location.href="/sales_detail_info_admin"' ;>결제완료
                        </td>
                        <td class="sales_price" onclick='location.href="/sales_detail_info_admin"' ;>80,000원</td>
                        <td><input type="button" class="sales_processing_btn" id="1"
                                onclick="change_order_processing(this.id)" value="배송하기"></td>
                    </tr>
                    <tr class="check_order">
                        <td class="sales_date" onclick='location.href="/sales_detail_info_admin"' ;>21-04-14</td>
                        <td class="sales_product" onclick='location.href="/sales_detail_info_admin"' ;>프릴 블라우스</td>
                        <td class="sales_processing_phase" onclick='location.href="/sales_detail_info_admin"' ;>배송중</td>
                        <td class="sales_price" onclick='location.href="/sales_detail_info_admin"' ;>36,000원</td>
                        <td><input type="button" class="sales_processing_btn" id="2"
                                onclick="change_order_processing(this.id)" value="배송완료"></td>
                    </tr>
                    <tr class="check_order">
                        <td class="sales_date" onclick='location.href="/sales_detail_info_admin"' ;>21-04-14</td>
                        <td class="sales_product" onclick='location.href="/sales_detail_info_admin"' ;>검정 무지 티셔츠 외 2종
                        </td>
                        <td class="sales_processing_phase" onclick='location.href="/sales_detail_info_admin"' ;>배송완료
                        </td>
                        <td class="sales_price" onclick='location.href="/sales_detail_info_admin"' ;>35,000원</td>
                        <td><input type="button" class="sales_processing_btn" id="3"
                                onclick="change_order_processing(this.id)" value="상품평"></td>
                    </tr>

                    <tr class="check_order">
                        <td class="sales_date" onclick="location.href='/sales_detail_info_admin'">21-04-13</td>
                        <td class="sales_product" onclick="location.href='/sales_detail_info_admin'">미키마우스 후드티</td>
                        <td class="sales_processing_phase" onclick="location.href='/sales_detail_info_admin'">구매확정</td>
                        <td class="sales_price" onclick="location.href='/sales_detail_info_admin'">40,000원</td>
                        <td><input type="button" class="sales_processing_btn" id="4"
                                onclick="change_order_processing(this.id)" value="상품평"></td>
                    </tr>
                </tbody>

            </table>
            <div class="outer">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </form>
    </section>


    <footer id="footer">
        <p>
            <a href="/use">[이용약관]</a>
            <a href="/privacy">[개인정보처리방침]</a>
            <br>

            [01811] 서울 노원구 공릉로 232 서울과학기술대학교 컴퓨터공학과 미래관 315호 TEL : 02-970-6707 <br>
            Copyright 2021. 24팀 all rights reserved.<br>
        </p>
    </footer>
</body>

</html>