<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <script src="../router/signUp.js"></script>
    <link rel="stylesheet" href="../public/signUp.css" type="text/css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body>

    <h2 id="signUp"> 회원가입 </h2>
    <form class="" action="#" method="post">
        <table id="infoTable" name="newID" width="800" height="">
            <tr>
                <td>아이디</td>
                <td><input id='userid' type='text' maxlength='12' size='20'> <span class="valid">5~20자의 영문 대소문자와 숫자로만 입력</span></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input id='userpw' type='password' minlength='8' size='20'> <span class="valid">8자 이상의 영문 대소문자와 숫자, 특수문자로 입력</span></td>
            </tr>
            <tr>
                <td>비밀번호확인</td>
                <td><input id='userpwcheck' type='password' minlength='8' size='20'></td>
            </tr>
            <tr>
                <td>메일주소</td>
                <td><input id='usermail' type='text' maxlength='30' size='20' placeholder="example@seoultech.ac.kr"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input id='userName' type='text' maxlength='12' size='20'></td>
            </tr>
            <tr>
                <td>주소</td>
                <td>
                    <input type="text" id="sample4_postcode" placeholder="우편번호">
                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                    <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                    <span id="guide" style="color:#999;display:none"></span><br>
                    <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                    <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                </td>
                         
            </tr>
               
            <tr>
                <td colspan="2"><input type="button" value="가입하기" onclick="check()" class="btn"></td>
            </tr>
        </table>
    </form>
</body>
</html>