<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="coupon_select.css">
    <title>쿠폰 적용</title>
    
</head>
<body>

    <table>
        <thead>
            <th>선택</th>
            <th>쿠폰명</th>
            <th>최소주문금액</th>
            <th>할인율</th>
        </thead>

        <tbody>
            <tr>
                <td><input type="radio" name="select_coupon"></td>
                <td>5000원 할인쿠폰</td>
                <td>20000원</td>
                <td>5000원</td>
            </tr>
        </tbody>
    </table>
    
    <br>

    <input type="submit" value="확인" class="button">
   

</body>
</html>