html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.nav{
    width: 230px;
    height: 70%;
    float: left;
}
section{
    overflow-x: hidden;
    padding-right: 30px;
}
.section{    
    width: 70%;
    height: 70%;
    float: left;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
.nav li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.nav li a.active{
    background-color: #4CAF50;
    color: white;
}
.nav li :hover:not(.active){
    background-color: #555;
    color: white;
}
.nav li a.current{
    background-color: #555;
    color: white;
}
tr, td{
    padding: 10px;
}

.banner_detail .blank{
    border-bottom: 0px;
    height: 10px;
}
.banner_detail .blank td{
    border-bottom: 0px;
}
.banner_detail .btn td{
    border-bottom: 0px;
    border-top: 0px;
}
.banner_detail .btn .modify{
    background-color:#4CAF50;
    border-radius: 10px 0 0 10px;    

}
.banner_detail .btn .delete{
    background-color: #555;
    border-radius: 0 10px 10px 0;    

}
.banner_detail .btn a{
    color: white;
}

div caption a{
    display: block;
    color: white;
    text-align: center;
    
    width: 100px;
    float: right;
    margin: 15px auto;
    text-decoration: none;
    background-color: #555;

    padding: 10px;
    border-radius: 10px;
}

.banner_detail {
    width: 70%;
    margin: auto;
    word-wrap: break-word;
    border-bottom: 1px solid #999;
    color: #666;
    font-size: 12px;
    table-layout: fixed;
    position: absolute;
    left: 230px;
    margin: 30px auto;
}
.banner_detail, .banner_detail th, .banner_detail td{
    border: 0;
    border-collapse: collapse;
}
.banner_detail td a {
    color: #383838; 
    text-decoration: none;
}
.banner_detail th{
    padding: 5px 0 6px;
    border-top: solid 1px #b2b2b2;
    border-bottom: solid 1px #b2b2b2;
    background-color: #f1f1f4;
    color: #333;
    font-weight: bold;
    line-height: 20px;
    vertical-align: top;
}
.banner_detail td{
    padding: 8px 0 9px;
    border-top: 1px solid #b2b2b2;
    border-bottom: solid 1px #b2b2b2;
    text-align: center;
    line-height: 18px;
}


.banner_detail .num, .banner_detail .date, .banner_detail .hit, .banner_detail .name{
    padding: 0;
    font-size: 11px;
    line-height: normal;
}
.banner_detail .title{
    text-align: left;
    padding-left: 15px;
    font-size: 13px;
}

.banner_detail .banner_image img{
    display: block;
    margin: 0px auto;
    width: fit-content;
    height: fit-content;
}

.banner_detail caption{
    display: none;
}
