
@media screen {
  * {
      margin: 0;
      padding: 0;
  }

  #box {
      width: 900px;
      height: 700px;
      background-color: white;
      position: relative;
  }

  #wrap_product_img {
      width: 790px;
      height: 500px;
      display: block;

  }

  #slide {
      width: 500px;
      height: 500px;
      top: 100px;
      left: 190px;
      overflow: hidden;
      position: absolute;
  }

  #slide ul {
      width: 2500px;
      position: relative;
      top: 0;
      left: 0;
  }

  #slide ul li {
      display: block;
      float: left;
  }

  #slide_box li img {
      width: 500px;
      height: 500px;
  }

  #left_bt {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 300px;
      left: 90px;
      /*
      display: none;
      */
      cursor: pointer;
  }

  #right_bt {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 300px;
      left: 690px;
      cursor: pointer;
  }

  #product_name {
      width: auto;
      height: auto;
      position: relative;
      left: 80%;
      top: -600px;
      /*
      position: absolute;
      left: 1000px;
      top: 300px;
      */
  }

  section h4 {
      width: 100%;
      display: flex;
      position: relative;
      top: -300px;
      margin: auto;
      padding: auto;
  }

  section h4 img {
      margin: auto;
      justify-content: center;

  }

  body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      background-color: lightcyan;
      overflow-x: hidden;
  }
  #header {
      left: 0;
      top: 0;
      height: 200px;
      width: 100%;
      background-color: antiquewhite;
      display: flex;
      align-items: center;
  }

  body a {
      text-decoration: none;
  }

  section {
      overflow: hidden;
      position: relative;
      display: block;
  }

  #head-wrapper {
      display: flex;
      width: 100%;
      margin: 0 auto;
      position: relative;
  }

  #logo {
      position: absolute;
      left: 10%;
      text-decoration: none;
      text-align: center;
      padding: auto;
      display: flex;
      float: left;
  }

  #search-form {
      display: block;
      position: relative;
      width: 100%;
      height: 50px;
      left: 35%;
      float: left;
  }

  #search {
      display: block;
      margin: 3px;
      height: 40px;
      width: 30%;
      border-radius: 15px;
      float: left;

  }

  #search-btn {
      border-radius: none;
      background: none;
  }

  #search-btn a {
      background: none;
  }
  #search-btn a img {
      width: 35px;
      height: 35px;
  }

  .wrap-user-util {
      display: inline;
      position: relative;
      width: 30%;
  }

  .wrap-user-util button {
      background: none;
  }

  a {
      text-decoration: none;
      color: lightcoral;
  }

  #goto-signup {
      text-decoration: none;
  }

  #category {
      width: 100%;
      height: fit-content;
      text-align: center;
      background-color: lightpink;
  }

  .category-menu {
      display: inline-block;
      margin: 17px 4.5%;
      text-decoration: none;
      font-size: 20px;
      color: black;
  }

  /*카테고리 드롭다운 코드 */

.dropmenu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font: "sans-serif";
    font-size:20px;
    }
  
    .dropmenu ul{
  
    background: lightpink;
    height:100px;
    list-style:none;
    margin:0px;
    padding:0px;
    text-align: center;
    }
  
    .dropmenu li{
    /* float: left; */
    margin-right: 50px;
    padding:0px;
    display: inline-block;
    }
  
    .dropmenu li a{
    background: lightpink;
    color:#000000;
    display:block;
    line-height:100px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    }
  
    .dropmenu li a:hover, .dropmenu ul li:hover a{
    color:#ffffff;
    text-decoration:none;
    }
  
    .dropmenu li ul{
    background: lightpink;
    display:none; 
    height:auto;
    border:0px;
    position: absolute;
    width:200px;
    z-index:200;
    }
  
    .dropmenu li:hover ul{
    display:block;
    }
  
    .dropmenu li li {
    background: lightpink;
    display:block;
    float:center;
    margin:0px;
    padding:0px;
    width:200px;
    }
  
    .dropmenu li:hover li a{
    background:none;
    }
  
    .dropmenu li ul a{
    display:block;
    height:80px;
    font-size:14px;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
    }
  
    .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
    background: lightslategray;
    border:0px;
    color:#ffffff;
    text-decoration:none;
    }
  
    .dropmenu p{
    clear: left;
    }
  /*카테고리 드롭다운 끝*/

  .nav {
      width: 230px;
      height: 70%;
      float: left;
  }

  section h2 {
      text-align: center;
  }

  ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
  }
  .nav li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
  }
  .nav li a.active {
      background-color: lightseagreen;
      color: white;
  }
  .nav .menu > li :hover:not(.active) {
      background-color: lightpink;
      color: white;
  }
  .nav li a.current {
      background-color: lightcoral;
      color: white;
  }
  th {
      background-color: lightseagreen;
      padding: 30px;
  }

  li,
  section,
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  a {
      text-decoration: none;
  }

  ul.menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
  }
  .nav li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
  }
  .nav li a.active {
      background-color: lightseagreen;
      color: white;
  }
  .nav .menu > li :hover:not(.active) {
      background-color: lightpink;
      color: white;
  }
  .nav li a.current {
      background-color: lightcoral;
      color: white;
  }
  th {
      background-color: lightseagreen;
      padding: 30px;
  }

  #footer {
    position: relative;
    bottom: 0%;
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    padding: 0.1px;
  }
  
  #footer a{
    font-weight: bold;
  }

}
