html,
body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16pt;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
  overflow-x: hidden;
}

#header {
  position: relative;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}
body a {
  text-decoration: none;
}

#head-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#logo {
  position: absolute;
  left: 10%;
  text-decoration: none;
  text-align: center;
  padding: auto;
  display: flex;
  float: left;
}

.wrap-user-util {
  display: inline;
  position: relative;
  width: 30%;
}

.wrap-user-util button {
  background: none;
}

a {
  text-decoration: none;
  color: lightcoral;
}

#goto-signup {
  text-decoration: none;
}

/*카테고리 드롭다운 코드 */

.dropmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: "sans-serif";
  font-size: 20px;
}

.dropmenu ul {
  background: lightpink;
  height: 100px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.dropmenu li {
  /* float: left; */
  margin-right: 50px;
  padding: 0px;
  display: inline-block;
}

.dropmenu li a {
  background: lightpink;
  color: #000000;
  display: block;
  line-height: 100px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.dropmenu li a:hover,
.dropmenu ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}

.dropmenu li ul {
  background: lightpink;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
}

.dropmenu li:hover ul {
  display: block;
}

.dropmenu li li {
  background: lightpink;
  display: block;
  float: center;
  margin: 0px;
  padding: 0px;
  width: 200px;
}

.dropmenu li:hover li a {
  background: none;
}

.dropmenu li ul a {
  display: block;
  height: 80px;
  font-size: 14px;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

.dropmenu li ul a:hover,
.dropmenu li ul li:hover a {
  background: lightslategray;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}

.dropmenu p {
  clear: left;
}
/*카테고리 드롭다운 끝*/

/* start main css */

.main-container {
  text-align: center;
}

#inquiry-container {
  width: 800px;
  margin: 0 auto;
  height: auto;
  background-color: moccasin;
}

#inquiry-table {
  width: 800px;
  height: 500px;
  left: 230px;
  margin: 50px auto;
}
tr,
td {
  padding: 10px;
}
.index {
  width: 10%;
}
#inquiry-subject {
  width: 90%;
  height: 40px;
  left: 0;
}
#inquiry-contents {
  width: 90%;
  height: 300px;
  left: 0;
}

#footer {
  position: relative;
  bottom: 0%;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  padding: 0.1px;
}

#footer a {
  font-weight: bold;
}
