html,
body {
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
  overflow-x: hidden;
}

#header {
  position: relative;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}
body a {
  text-decoration: none;
}

section {
  overflow: hidden;
}

#head-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#logo {
  position: absolute;
  left: 10%;
  text-decoration: none;
  text-align: center;
  padding: auto;
  display: flex;
  float: left;
}

#search-form {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  left: 35%;
  float: left;
}

#search {
  display: block;
  margin: 3px;
  height: 40px;
  width: 30%;
  border-radius: 15px;
  float: left;
}

#search-btn {
  border-radius: none;
  background: none;
}

#search-btn a {
  background: none;
}
#search-btn a img {
  width: 35px;
  height: 35px;
}

.wrap-user-util {
  display: inline;
  position: relative;
  width: 30%;
}

.wrap-user-util button {
  background: none;
}

a {
  text-decoration: none;
  color: lightcoral;
}

#goto-signup {
  text-decoration: none;
}

/*카테고리 드롭다운 코드 */

.dropmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: "sans-serif";
  font-size: 20px;
}

.dropmenu ul {
  background: lightpink;
  height: 100px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.dropmenu li {
  /* float: left; */
  margin-right: 50px;
  padding: 0px;
  display: inline-block;
}

.dropmenu li a {
  background: lightpink;
  color: #000000;
  display: block;
  line-height: 100px;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.dropmenu li a:hover,
.dropmenu ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}

.dropmenu li ul {
  background: lightpink;
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
}

.dropmenu li:hover ul {
  display: block;
}

.dropmenu li li {
  background: lightpink;
  display: block;
  float: center;
  margin: 0px;
  padding: 0px;
  width: 200px;
}

.dropmenu li:hover li a {
  background: none;
}

.dropmenu li ul a {
  display: block;
  height: 80px;
  font-size: 14px;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

.dropmenu li ul a:hover,
.dropmenu li ul li:hover a {
  background: lightslategray;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}

.dropmenu p {
  clear: left;
}
/*카테고리 드롭다운 끝*/

#main-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  /*
  height: 1400px;
  */
}

ul {
  list-style: none;
}

#latest-items {
  display: block;
  width: 100%;
  /*
  height: 600px;
  */
  height: 50%;
  background-color: lightgray;
  margin: 0;
  padding: 0.1px;
}

.row {
  margin: 0;
  padding: 0;
}

.cell {
  float: left;
  margin: 0;
  width: 20%;
  text-align: center;
}

.img_box {
  text-align: center;
}

#latest-items img {
  width: 60%;
  height: 20%;
}

#footer {
  position: relative;
  bottom: 0%;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  padding: 0.1px;
}

#footer a{
  font-weight: bold;
}

/* banner css*/
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.main-banner {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.banner-btn img {
  width: 50px;
  height: 50px;
}

.banner-img {
  width: 100%;
  height: 500px;
}

/* 배너 btn 추가할 수도 있음
.banner-roll-btn img { 
  width: 50px;
  height: 50px;
}
*/

/* The dots/bullets/indicators */
#dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: #bbb 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
