html, body {
  margin: 0;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
  overflow-x: hidden;
}

#header {
  position: relative;
  left: 0;
  top: 0;
  height: 200px;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}

body a {
  text-decoration: none;
}

section{
  overflow: hidden;
}

#head-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#logo {
  position: absolute;
  left: 10%;
  text-decoration: none;
  text-align: center;
  padding: auto;
  display: flex;
  float: left;
}

#search-form {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  left: 35%;
  float: left;
}

#search {
  display: block;
  margin: 3px;
  height: 40px;
  width: 30%;
  border-radius: 15px;
  float: left;

}

#search-btn{
  border-radius: none;
  background: none;
}

#search-btn a {
  background: none;
}
#search-btn a img {
  width: 35px;
  height: 35px;  
}

.wrap-user-util {
  display:inline;
  position: relative;
  width: 30%;
}

.wrap-user-util button {
  background: none;
}

a {
  text-decoration: none;
  color: lightcoral;
}

#goto-signup {
  text-decoration: none;
}

/*카테고리 드롭다운 코드 */

 .dropmenu{
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font: "sans-serif";
  font-size:20px;
  }
  
  .dropmenu ul{

  background: lightpink;
  height:100px;
  list-style:none;
  margin:0px;
  padding:0px;
  text-align: center;
  }
  
  .dropmenu li{
  /* float: left; */
  margin-right: 50px;
  padding:0px;
  display: inline-block;
  }
  
  .dropmenu li a{
  background: lightpink;
  color:#000000;
  display:block;
  line-height:100px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
  display: inline-block;
  }
  
  .dropmenu li a:hover, .dropmenu ul li:hover a{
  color:#ffffff;
  text-decoration:none;
  }
  
  .dropmenu li ul{
  background: lightpink;
  display:none; 
  height:auto;
  border:0px;
  position: absolute;
  width:200px;
  z-index:200;
  }
  
  .dropmenu li:hover ul{
  display:block;
  }
  
  .dropmenu li li {
  background: lightpink;
  display:block;
  float:center;
  margin:0px;
  padding:0px;
  width:200px;
  }
  
  .dropmenu li:hover li a{
  background:none;
  }
  
  .dropmenu li ul a{
  display:block;
  height:80px;
  font-size:14px;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
  }
  
  .dropmenu li ul a:hover, .dropmenu li ul li:hover a{
  background: lightslategray;
  border:0px;
  color:#ffffff;
  text-decoration:none;
  }
  
  .dropmenu p{
  clear: left;
  }
/*카테고리 드롭다운 끝*/

  
  

#main-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  /*
  height: 1400px;
  */
}

#main-banner {
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  height: 50%;
  /*width: 1600px;
  height: 800px;
  */
  text-align: center;
  overflow: hidden;
  margin: 0;
}

ul {
  list-style: none;
}

#latest-items {
  display: block;
  width: 100%;
  /*
  height: 600px;
  */
  height: 50%;
  background-color: lightgray;
  margin: 0;
  padding: 0.1px;
}

.row {
  margin: 0;
  padding: 0;
}

.cell {
  float: left;
  margin: 0;
  width: 20%;
  text-align: center;
}

.img_box{
  text-align: center;
}

#latest-items img{
  width: 60%;
  height: 20%;
}

#footer {
  position: relative;
  bottom: 0%;
  height: 150px;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  padding: 0.1px;
}

/* banner css*/
#banner-img-wrapper {
  height: 1000px;
  /*width: 1800px;
  */
  width: 100%;
  position: relative;
  /*
  left: 100px;
  */
  top: 0;
  left: 10%;
  overflow: hidden;
}

.rollimgs {
  list-style: none;
  padding: 0;
  margin: 0 50px;
}

.roll-img {
}

.rollimgs li {
  display: block;
  position: absolute;
  /*
  width: 800px;
  */
  width: 40%;
  height: 40%;
  left: 40%;
}
.rollimgs li img {
  width: 100%;
  height: 100%;
}
.rollimgs li.currentroll {
  left: 800;
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}
.rollimgs li.prevroll {
  left: 0px;
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}
.rollimgs.reverse li.prevroll {
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}
.rollimgs li.nextroll {
  left: -800px;
  display: block;
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}

.rollimgs.reverse li.currentroll {
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}

.rollimgs.reverse li.nextroll {
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out;
}
